.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.data {
  padding: 0px;
  list-style: none;
}

.data li {
  font-family: 'Merriweather', serif;
  margin-bottom: .5rem;
}

.data li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ddd;
  margin-right: 10px;
}

h1 {
  font-family: 'Merriweather', serif;
}
