.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.product img {
  margin-bottom: 1rem;
}

.price {
  color: #222;
  font-family: 'Merriweather', serif;
}

.description {
  font-family: 'Merriweather', serif;
}
